<script>
    document.addEventListener('turbo:load', function () {
        const sideButtons = document.querySelectorAll('.side-button');

        sideButtons.forEach(sideButton => {
            sideButton.addEventListener('click', () => {
                sideButtons.forEach(item => item.classList.remove('side-button-selected'));
                sideButton.classList.add('side-button-selected');
            });
        });

        if (sideButtons.length > 0)
            sideButtons[0].click();
    });
</script>

<div class="sidebar">
  <%= link_to "Dashboard", "/dashboard", class: "side-button side-button-dashboard", data: { turbo_stream: true } if @user[:dashboard] %>
  <%= link_to "Detections", "/detection", class: "side-button side-button-detection", data: { turbo_stream: true } if @user[:detection] %>
  <%= link_to "Balancing", "/balancing", class: "side-button side-button-balancing", data: { turbo_stream: true } if @user[:balancing] %>
  <%= link_to "Expenses", "/expense", class: "side-button side-button-expense", data: { turbo_stream: true } if @user[:expense] %>
  <%= link_to "Categories", "/category", class: "side-button side-button-category", data: { turbo_stream: true } if @user[:category] %>
</div>

<div class="header">
  <a href="/user" class="header-button header-button-user">Users</a>
  <a href="/user/detail/<%= session[:user_id] %>" class="header-button header-button-me">Me</a>
  <a href="/year" class="header-button header-button-year"><%= @year[:number] %></a>
  <a href="/user/sign-in" class="header-button header-button-logout">Logout</a>
</div>

<div class="working">
  <div id="working_area"></div>
</div>