<div class="back-column">
  <a href="/user" class="back-button"></a>
</div>
<div class="data-column">
  <form method="post" action="/user/save/<%= params[:id] %>" data-controller="form">
    <label>
      <h5 class="settings-error"><%= @error %></h5>
      <table class="settings-table">
        <tr>
          <td class="settings-table-name">Username</td>
          <td class="settings-table-value">
            <input type="text" name="username" value="<%= request.post? ? params[:username] : @user[:username] %>" class="settings-text"/>
          </td>
        </tr>
        <tr>
          <td class="settings-table-name">Password</td>
          <td class="settings-table-value">
            <input type="password" name="password" class="settings-text"/>
          </td>
        </tr>
        <tr>
          <td class="settings-table-name">Confirm Password</td>
          <td class="settings-table-value">
            <input type="password" name="password_confirmation" class="settings-text"/>
          </td>
        </tr>
        <tr>
          <td class="settings-table-name">Full name</td>
          <td class="settings-table-value">
            <input type="text" name="full_name" value="<%= request.post? ? params[:full_name] : @user[:full_name] %>" class="settings-text"/>
          </td>
        </tr>
        <tr>
          <td class="settings-table-name">Role</td>
          <td class="settings-table-value"><%= @user[:role] %></td>
        </tr>
        <tr>
          <td class="settings-table-name">Dashboard</td>
          <td class="settings-table-value">
            <input type="checkbox" name="dashboard" <%= checkbox_state(checkbox_name: "dashboard", db_flag: @user[:dashboard]) %> />
          </td>
        </tr>
        <tr>
          <td class="settings-table-name">Detections</td>
          <td class="settings-table-value">
            <input type="checkbox" name="detection" <%= checkbox_state(checkbox_name: "detection", db_flag: @user[:detection]) %> />
          </td>
        </tr>
        <tr>
          <td class="settings-table-name">Balancing</td>
          <td class="settings-table-value">
            <input type="checkbox" name="balancing" <%= checkbox_state(checkbox_name: "balancing", db_flag: @user[:balancing]) %> />
          </td>
        </tr>
        <tr>
          <td class="settings-table-name">Expenses</td>
          <td class="settings-table-value">
            <input type="checkbox" name="expense" <%= checkbox_state(checkbox_name: "expense", db_flag: @user[:expense]) %> />
          </td>
        </tr>
        <tr>
          <td class="settings-table-name">Categories</td>
          <td class="settings-table-value">
            <input type="checkbox" name="category" <%= checkbox_state(checkbox_name: "category", db_flag: @user[:category]) %> />
          </td>
        </tr>
      </table>
      <input type="submit" name="submit" value="Edit"/>
      <input type="submit" name="submit" value="Remove" data-action="click->form#confirm"/>
    </label>
  </form>
</div>