<html lang="en">
<head>

  <title>Ekonomy</title>
  <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml"/>

  <%= javascript_importmap_tags %>

  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

  <%= csp_meta_tag %>
  <%= csrf_meta_tags %>

</head>
<body>
<%= yield %>
</body>
</html>